/* CSS VARIABLES */
:root {
    /* Typography */
    --primary-font: "Libre+Baskerville", serif;
    --secondary-font: "Capriola", sans-serif;
    --tertiary-font: "Lato", sans-serif;
    --quaternary-font: "Tenor+Sans", sans-serif;

    /* Text colours */
    --primary-color: #4C7B99; /* Steel Blue (from flower) */
    --secondary-color: #617B60; /* Sage Green (from leaves) */
    --tertiary-color: #C8423B; /* Coral Red (from sun) */
    --fourth-color: #9F3340; /* Crimson Red (from rose) */
    --fifth-color: #E6C548; /* Golden Yellow (from sun) */
    --sixth-color: #3F3F49; /* Charcoal Gray (from Cecil dog) */

    /* Background colours */
    --background-color-primary: #E6DED5; /* Sandy Sail (Light Cream) */
    --background-color-secondary: #02374f; /* Deep Space Blue */
    --background-color-tertiary: #0e5c81; /* Charcoal Blue */
    --background-color-quaternary: #0d85bd; /* Blue Bell */
    --background-color-quinary: #0d85bd08; /* Blue Bell */

    /* Card background colours */
    --card-bg-green: #31bb5115; /* Light Green */
    --card-bg-yellow: #ffd90016; /* Light Yellow */
    --card-bg-red: #d8252511; /* Light Red */
}

/* GLOBAL STYLES */
body {
    font-family: var(--tertiary-font);
    color: var(--sixth-color);
    /* padding-top: 57.52px; /* Adjusted for navbar height */
    background-color: var(--background-color-primary);
    cursor: url('../images/flower-cursor.png') 32 32, auto;
}

h1,
h2,
h3 {
    font-family: var(--primary-font);
    color: var(--primary-color);
    animation: fadeInUp 1s ease-out forwards;
}

h2.card-title,
h3 {
    font-size: 1.3rem;
}

h2.passenger-request {
    font-size: 1.1rem;
}

p {
    animation: fadeInUp 1s ease-out forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
